# Auto-detect text files and normalize line endings
* text=auto eol=lf

# Explicitly declare text files
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.rsc text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.py text eol=lf

# Denote all files that should be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
